/* main statements */
*{
    margin: 0;
    padding: 0;
}
/* a global statement */
a{
    text-decoration: none;
}
/* h1 global statement */
h1{
    padding: 10px;
    font-size: 1.2rem;
    color: white;
}

/* container grid */
.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
/* Header Layout */
header{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}


.edit-bar{
    padding: 0.5rem;
    background-color: #f3f9ff;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
}

.main-menu{
    background-color: #2d353d;
    height: 100vh;
}

.logo{
    margin-bottom: 2rem;
}

.main-menu nav ul{
    list-style-type: none;
}
.main-menu nav li{
    display: block;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    transition: 0.3s;
    color: white;
}
.main-menu nav li a{
    display: block;
    color: white;
    text-decoration: none;
}
.main-menu nav li:hover{
    background-color: #495663;
    cursor: pointer;
}

.main-menu nav li.active{
    background-color: #192027;
}

.table-list table{
    width: 100%;
    border-collapse: collapse;
}

.table-list thead td{
    font-weight: bold;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.table-list td{
    padding: 1rem;
    border-right: 1px solid rgb(173, 173, 173);
    border-bottom: 1px solid rgb(173, 173, 173);
}

/* Style Button */
.button{
    min-height: 25px;
    min-width: 25px;
    border-radius: 10px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495663;
    color: white;
}

.button-td{
    width: 15px;
}


.add{
    background-color:rgb(76, 142, 185);
}
.delete{
    background-color:rgb(185, 48, 48);
}


 /* Style inputs */
  input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

 /* Style inputs */
 input[type=password], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

 /* Style inputs */
 input[type=date], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
} 